<!DOCTYPE html>
<html>
    
<head>
    <title>Page Title</title>
</head>
    
<body>
    <p><%= data.temp %></p>
    <p><%= data.sp02 %></p>
    <p><%= data.heartbeat %></p>
</body>
  
</html>