<!DOCTYPE html>
<html>
    
<head>
    <title>Page Title</title>
</head>
    
<body>
    <p><%= data[0].temp %></p>
    <p><%= data[0].sp02 %></p>
    <p><%= data[0].heartbeat %></p>
    <p>Hellp World!</p>
</body>
  
</html>