<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health_web</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="calender.css">
  <style>
    /* CSS để đặt thông báo */
    .notification {
      position: fixed;
      top: 10px;
      right: 10px;
      background-color: #c1501b;
      border: 1px solid #b6ce30;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="chart-container"></div>   
    <div class="title">BIỂU ĐỒ NHỊP TIM VÀ SpO2</div>
    <div class="Line_chart"></div>
    <canvas id="canvas"></canvas>
    <div class="buttons">
      <button id="btnBack">Back</button>
      <button id="btnNext">Next</button>
    </div>
    <div class="notification" id="notification"></div>
  </div>

  <div class="calendar">
    <div class="calendar-header">
      <span class="month-picker" id="month-picker">May</span>
      <div class="year-picker" id="year-picker">
        <span class="year-change" id="pre-year">
          <pre></pre>
        </span>
        <span id="year">2020</span>
        <span class="year-change" id="next-year">
          <pre>></pre>
        </span>
      </div>
    </div>

    <div class="calendar-body">
      <div class="calendar-week-days">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div class="calendar-days"></div>
    </div>

    <div class="calendar-footer"></div>
    <div class="date-time-formate">
      <div class="day-text-formate">TODAY</div>
      <div class="date-time-value">
        <div class="time-formate">02:51:20</div>
        <div class="date-formate">23 - july - 2022</div>
      </div>
    </div>
    <div class="month-list"></div>
  </div>
  <div class="calendar-days">
    
  </div>  
  <script>
    document.addEventListener('dataUpdated', function() {
      const alertMessage = predict > 0.5 ? 'Có nguy cơ bị bệnh tim' : 'Không có nguy cơ bị bệnh tim';

      const notificationElement = document.getElementById('notification');
      notificationElement.textContent = alertMessage;
      
    });
  </script>
  <div id="tooltip" style="position: absolute; display: none;"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="calender.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
  <script src="/script.js"></script>
</body>
</html>
